.tasks-table tr td {
    border: 1px solid black;
    width: 1000px;
}

.tasks-table tr td:first-child {
    width: 300px;
}

.tasks-table tr td:nth-child(2) {
    width: 700px;
    text-align: center;
}

#last-task-td {
    position: relative;
}

/* First task */

#first-task-input {
    width: 200px;
    height: 20px;
    border: none;
    outline: none;
    border: black solid 2px;
}

/* Second task */

.football-field-div {
    width: 500px;
    height: 350px;
    padding: 0;
    margin: 0;
    background-image: url("./imgs/png-transparent-football-field-football-field-green-background-football.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: 600ms;
}

#football-ball {
    position: absolute;
    width: 40px;
    transition: 600ms;
}

/* Third task */

.delete-button {
    display: inline-block;
    background-image: url(./imgs/button-cancel.png) ;
    background-size:cover;
    width: 25px;
    height: 25px;
    border: none;
}

.correct-button {
    display: inline-block;
    background-image: url(./imgs/button-correct.png) ;
    background-size:cover;
    width: 25px;
    height: 25px;
    border: none;
    margin-left: 10px;
}

.delete-button:active {
    border: 2px solid #2c5bc0;
}

textarea {
    resize: none;
    display: block;
    margin-top: 5px;
    height: 140px;
    width: 640px;
    color: #2c5bc0;
    background-color: #BFBFBF;
    border: none;
    padding: 5px;
    font-size: 16px;
}

.text-block {
    background-color: #BFBFBF;
    margin: 15px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 180px;
    border: 3px solid rgb(126, 126, 75);
}

.textarea-active {
    background-color: #fff9ea;
    border: 3px dashed #be7c00;
}

.active-button {
    border: 2px solid #2c5bc0;
}

/* Fifth task */

.fifth-task-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fifth-task-table td{
    width: 30px !important;
    height: 20px;
}