* {
    padding: 0;
    margin: 0;
}

/* Slider  */

.slider-zone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 600px;
    background-color: rgb(235, 235, 235);
    border-radius: 30px;
}

.slider-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    overflow: hidden;
    transition: all 700ms;
}

/* Images and img */

.images-list {
    position: absolute;
    display: inline-block;
    height: 300px;
    width: max-content;
    font-size: 0;
    left: 0;
    transition: all 700ms;
}

.images-list img {
    padding-right: 200px;
    display: inline;
    height: 300px;
    top: 0;
}

/* Buttons */

.next-button {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 60px;
    border: none;
    filter: drop-shadow(0px 0px 5px grey);
    transition: 300ms;
}

.previous-button {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 40px;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 60px;
    border: none;
    filter: drop-shadow(0px 0px 5px grey);
    transition: 150ms;
}

.next-button:hover{
    width: 43px;
    height: 63px;
}

.previous-button:hover{
    width: 43px;
    height: 63px;
}

.next-button:active {
    width: 43px;
    height: 63px;
    filter: drop-shadow(0px 0px 5px red);
}

.previous-button:active {
    width: 43px;
    height: 63px;
    filter: drop-shadow(0px 0px 5px red);
}